//Modal Content
.main-main {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: url(../images/taskadd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 80%;

    .modal-content {
        // border: 1px solid;
        padding: 2% 2%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        width: 90%;
        height: 100%;

        .add-task-div {
            height: 10%;
            // border: 2px solid;
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 2vh 0;

            input {
                border-radius: 10px;
                font-size: x-large;
                padding: 0 1em;
                border: 1px solid;
                outline: none;
                height: 8vh;
                width: 80%;
            }

            label {
                letter-spacing: 2px;
                font-family: 'Bakbak One', cursive;
                font-size: xx-large;
            }
        }

        .non-title {
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .category-div {
                background: aquamarine;
                gap: 3vh;
                border: 5px double rgb(6, 54, 230);
                border-radius: 20px;
                height: fit-content;
                width: 35%;
                display: flex, ;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                h1 {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                .options-div {
                    min-height: 25vh;
                    width: 100%;
                    // border: 2px solid;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    padding: 1% 0;

                    .option {
                        font-weight: bold;
                        font-family: 'Play', sans-serif;
                        height: 5vh;
                        width: max-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        margin: 0 1vw;
                        transition: 0.2s;
                        padding: 0 2%;

                        &:hover {
                            cursor: pointer;
                            border: 2px solid rgb(242, 124, 6);

                        }

                        &:active {
                            scale: 0.9;
                        }
                    }

                }
            }

            .selectdate-div {
                height: 20vh;
                width: 20vw;
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                border-radius: 20px;
                background: whitesmoke;
                padding: 2%;

                .icon-div {
                    font-size: xx-large;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;


                }

                input {
                    padding: 2%;
                    background: rgb(116, 29, 215);
                    border: none;
                    outline: none;
                    height: 5vh;
                    font-size: x-large;
                    color: white;
                    border-radius: 10px;
                    transition: 0.3s;

                    &:hover {
                        box-shadow: 5px 5px 20px rgb(51, 208, 51);
                    }
                }


            }

            .importance-level {
                height: 20vh;
                width: 20vw;
                border: 2px solid;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;
                border-radius: 20px;
                background: deeppink;

                input {
                    height: 2vh;
                }

                h1 {
                    margin: 0 5vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                span {
                    padding: 2%;
                    height: fit-content;
                    width: fit-content;
                    display: inline;
                    font-size: 1em;
                    font-family: 'Ubuntu', sans-serif;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        border: 2px dotted white;
                    }
                }

                .highest:hover {
                    background: red;
                    color: white;
                }

                .lowest:hover {
                    background: green;
                    color: white;
                }

                #selected:hover {
                    border: none;
                }


            }

            .subtitle-div {
                background: gold;
                height: 20vh;
                width: 20vw;
                border: 2px solid;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                padding: 0 1%;
                border-radius: 20px;

                h1 {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                }

                textarea {
                    width: 100%;
                    height: 20vh;
                    max-width: 100%;
                    max-height: 20vh;
                    font-size: large;
                    background: transparent;
                    border: none;
                    outline: none;
                    color: black;
                    border-radius: 10px;
                    padding: 2% 2%;

                    &::placeholder {
                        color: black;
                    }


                }
            }
        }

        input[type=submit] {
            height: 8vh;
            width: 10vw;
            margin-top: 5vh;
            margin: 4vh 10vw;
            margin-bottom: 0;
            border: 2px solid red;
            border-radius: 10px;
            transition: 0.3s;
            font-size: x-large;
            font-weight: bold;
            background: rgb(184, 12, 203);
            color: azure;

            &:hover {
                cursor: pointer;
                background: rgb(3, 123, 252);
                color: rgb(144, 246, 0);
            }

            &:active {
                scale: 0.9;
            }
        }

    }
}



.selected-option {
    cursor: pointer;
    border: 2px solid rgb(6, 85, 242);
    background: rgb(23, 231, 23);
}