@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


.main-div {
    background: url(../images/task4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2% 2%;

    a {
        height: fit-content;
        width: fit-content;

        .option-div {
            height: 36.5vh;
            width: 35vw;
            border: 2px solid black;
            transition: 0.3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 15px 25px 25px rgb(69, 66, 66);
            border-radius: 20px;


            &:hover {
                cursor: pointer;
                outline: 5px solid white;

            }

            &:active {
                scale: 0.9;
            }

            .text,
            .icon {
                padding: 0 2%;
                width: 50%;
                height: 100%;
                // border: 2px solid;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;


                h1 {
                    font-family: 'Kalam', cursive;
                    font-size: 340%;
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        scale: 0.9;
                    }
                }

                #viwalltxt {
                    font-size: 210%;
                    letter-spacing: 0.5vw;
                }
            }

            .icon {
                font-size: 8rem;
                align-items: center;
                justify-content: center;

                i {
                    transition: 0.3s;

                    &:hover {
                        cursor: pointer;
                        scale: 0.9;
                    }
                }
            }


        }

        .comp {
            flex-direction: column;

            .text,
            .icon {
                width: 100%;
                height: 50%;
                align-items: center;
                justify-content: center;
            }


        }

    }


}